<div>

  <div class="row">
    <div class="col-md-12">

      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
          <li class="header pull-left"><i class="fa fa-th"></i> Bot Details</li>
          <li><a href="#tab_3-2" data-toggle="tab">History</a></li>
          <li><a href="#tab_3-2" data-toggle="tab">Comments</a></li>
          <li><a href="#tab_3-2" data-toggle="tab">Statistics</a></li>
          <li><a ui-sref="manageBotsDetails.actions">Actions</a></li>
          <li><a ui-sref="manageBotsDetails.info">Info</a></li>
        </ul>
        <div class="tab-content" ui-view>
        </div>
      </div>

  </div>
</div>
